/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* HEADER */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 3em;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

/* SKILLS */
#skills .progress-bar {
  background-color: #4CAF50;
  height: 8px;
  border-radius: 5px;
  margin-top: 10px;
}

.skill {
  width: 30%;
  text-align: center;
}

/* PORTFOLIO */
#portfolio .projects {
  display: flex;
  justify-content: space-between;
}

.project {
  background: #fff;
  padding: 20px;
  width: 45%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.05);
}

/* RATINGS */
#ratings .client-ratings {
  display: flex;
  justify-content: space-between;
}

.rating {
  width: 45%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rating span {
  font-size: 1.5em;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  .projects, .client-ratings {
    flex-direction: column;
    align-items: center;
  }

  .project, .rating {
    width: 80%;
    margin-bottom: 20px;
  }
}
